.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px; 
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
 
  .chatList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: calc(100% - 120px); 
  }
  
  .userAvatar{
    margin-bottom: 20px;
  }
  